<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
        <%= render 'users/list',user:@mypage ,book:@book %>
    </div>

    <div class="col-md-8 offset-md-1">

        <h1>Book detail</h1>
        <table class="table table-hover">
          <tr>
            <td class="text-center">
              <a href="/users/<%= @created_book.user.id %>">
              <%= attachment_image_tag @created_book.user,:profile_image,fallback:"no_image.jpg",size:"60x72" %><br>
              <%= @created_book.user.name %>
              </a>
            </td>
            <td><%= @created_book.title %></td>
            <td class="small"><%= @created_book.body %></td>
            <td>
              閲覧数:<%= @created_book.impressionist_count %>
            </td>
            <% if @created_book.user.id==current_user.id %>
              <td><%= link_to "Edit",edit_book_path(@created_book.id),class:"btn btn-success" %></td>
              <td><%= link_to "Destroy",book_path(@created_book.id),method: :delete,class:"btn btn-danger","data-confirm"=>"削除しますか？" %></td>
            <% end %>
          </tr>
        </table>
        <span id="comment_area">
          <%= render "book_comments/index" , comments:@comments %>
        </span>
        <div>
          <%= render "book_comments/form" , created_book:@created_book ,new_comment:@new_comment %>
        </div>
    </div>
  </div>
 </div>