<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
        <%= render 'users/list',user:@user ,book:@book %>
    </div>

    <div class="col-md-8 offset-md-1">

        <h1>Book detail</h1>
        <table class="table table-hover">
          <tr>
            <td class="text-center">
              <a href="/users/<%= @create_book.user.id %>">
              <%= attachment_image_tag @create_book.user,:profile_image,fallback:"no_image.jpg",size:"60x72" %><br>
              <%= @create_book.user.name %>
              </a>
            </td>
            <td><%= @create_book.title %></td>
            <td class="small"><%= @create_book.body %></td>
            <%= render 'books/favorite' ,book:@create_book %>
            <td>コメント数:<%= @create_book.book_comments.count %></td>
            <% if @create_book.user.id==current_user.id %>
              <td><%= link_to "Edit",edit_book_path(@create_book.id),class:"btn btn-success" %></td>
              <td><%= link_to "Destroy",book_path(@create_book.id),method: :delete,class:"btn btn-danger","data-confirm"=>"削除しますか？" %></td>
            <% end %>
          </tr>
        </table>
        <table>
          <% @create_book.book_comments.each do |book_comment| %>
            <tr>
              <td><%= attachment_image_tag book_comment.user,:profile_image,fallback:"no_image.jpg",size:"60x72" %></td>
              <td><%= book_comment.comment %></td>
              <% if book_comment.user==current_user %>
              <td><%= link_to "destroy" ,book_book_comment_path(book_comment.book,book_comment) ,method: :delete ,class:"btn btn-danger" %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
        <div>
          <%= form_with(model:[@create_book,@book_comment],local:true) do |f| %>
          <%= f.text_area:comment ,rows:5 ,class:"form-control" %>
          <%= f.submit "送信" %>
          <% end %>
        </div>
    </div>
  </div>
 </div>