<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/12120b9d9d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow">
      <nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <div class="container">
          <%= link_to"Bookers",root_path ,class:"navbar-brand text-light" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item mr-2">
                  <%= link_to user_path(current_user.id),class: "nav-link text-light" do %><span><i class="fas fa-home">Home</i></span><% end %>
                </li>
                <li class="nav-item mr-2">
                  <%= link_to users_path,class: "nav-link text-light" do %><span><i class="fas fa-users">Users</i></span><% end %>
                </li>
                <li class="nav-item mr-2">
                  <%= link_to books_path,class: "nav-link text-light" do %><span><i class="fas fa-book-open">Books</i></span><% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path,method: :delete,class: "nav-link text-light" do %><span><i class="fas fa-sign-out-alt">Log out</i></span><% end %>
                </li>
              <% else %>
                <li class="nav-item mr-2">
                  <%= link_to root_path do %><i class="fas fa-home nav-link text-light"><span>Home</span></i><% end %>
                </li>
                <li class="nav-item mr-2">
                  <%= link_to home_about_path do %><i class="fas fa-link nav-link text-light"><span>About</span></i><% end %>
                <li class="nav-item mr-2">
                  <%= link_to new_user_registration_path do %><i class="fas fa-user-plus text-light"><span>Sign up</span></i><% end %>
                </li>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path do %><i class="fas fa-sign-in-alt text-light"><span>Log in</span></i><% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= render 'layouts/flash' %>
    <%= yield %>
    </main>
    <footer class="mx-auto">
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
